# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
# This is the most important folder to ignore
venv/
.venv/

# Environment Variables
# Never commit your secret keys!
.env

# Database
# If you create any local database files, ignore them
*.sqlite3
*.db

# OS-specific files
.DS_Store

# IDE / Editor specific settings
.vscode/
.idea/

# Log files
*.log

# Build artifacts
build/
dist/
*.egg-info/