# Core AI and LangChain
langchain
langchain-core
langchain-community
lxml
langchain-google-genai
langchain-openai
langgraph
langchain-tavily
# langchain-groq

fastembed

pydantic

# Database and Vectors
psycopg2-binary
pgvector
sqlalchemy

# Environment
python-dotenv

fastapi
uvicorn[standard]
tiktoken
aiofiles
psycopg2-binary

Flask
Flask-Cors

requests
beautifulsoup4

